.env 
.venv 
.pycache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
.eggs/
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.pyre/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytype/
.ipynb_checkpoints/
.envrc
*.pem
*.key
*.crt
credentials.json 
*.ipynb_checkpoints/
notebooks/
*.ipynb
*.pkg
*.tar.gz